.navbar.top{
    border-radius: 0 0 12px 12px;
}

/* 背景 */
body{
    background: 
        linear-gradient(to top, rgb(255, 255, 255, 0.8), rgba(255, 255, 255, 0)),
        url(/images/bg1.jpg) center/cover no-repeat;
    background-attachment: fixed;
    animation: changeBg 12s infinite ease-in-out;
}
@keyframes changeBg{
    /* 图片 1 显示 60s */
    0%, 49.18% {
      background: url(/images/bg1.jpg) center/cover no-repeat !important;
    }
    /* 1s 过渡到图片 2 */
    50%, 50.82% {
      background: url(/images/bg2.jpg)  center/cover no-repeat !important;
    }
    /* 图片 2 显示 60s */
    50.82%, 100% {
      background: url(/images/bg2.jpg) center/cover no-repeat !important;
    }
}

hr{
    opacity: 0;
}
article.cover-wrap.md-text{
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
}



/* 左侧边栏 */
.l_left {
    background-color: rgb(255 255 255 / 20%);
    backdrop-filter: blur(10px);
}



/* 文章正文 */
article.md-text {
    background-color: rgb(255 255 255 / 70%);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    margin-top: 10px;
}
/* 内容图片 */
.lazy.entered.loaded{
    border-radius: 8px;
}



/* 注解 */
blockquote{
    background-color: rgb(241,242,243);
}
/* 代码块 */
figure>table{
    background-color: rgb(250, 250, 250, 1) !important;
}
figure.highlight{
    background-color: rgb(250, 250, 250, 1) !important;
}
figure.highlight>figcaption>span{
    /* border-radius: 0 !important;
    background: linear-gradient(to left, #994b33,#994b33) left top no-repeat,
                linear-gradient(to bottom, #994b33, #994b33) left top no-repeat,
                linear-gradient(to left, #994b33, #994b33) right bottom no-repeat,
                linear-gradient(to left, #994b33, #994b33) right bottom no-repeat !important;
              background-size: 0.12rem 0.7rem, 0.7rem 0.12rem !important;
    padding: 1.7px 5px !important; */

    /* background: #f0bfae !important; */
    border-radius: 6px !important;
    padding: 0 6px !important;
    margin: 5px 0 0 5px !important;
}
/* 文本代码引入 */
code{
    font-size: 85% !important;
    background: #e2ad9c !important;
    padding: .2em !important;
    border-radius: 4px !important;
    color: #994b33 !important;
}
/* 代码复制 */
.tag-plugin.copy>.copy-area{
    font-family: 'LXGW WenKai Screen';
}




/* 右侧边栏 */
/* 文章目录 */
#data-toc{
    background-color: rgb(255, 255, 255, 70%);
    border-radius: 12px;
}
.widget-body:before{
    background: none !important;
    /* background-color: #e7e7e7 !important; */
}
.toc-item.toc-level-2>.toc-link{
    color: #53838f !important;
    /* font-weight: bold; */
}
.toc-item.toc-level-2>.toc-link.active{
    /* color: #53838f !important; */
    /* font-weight: bold; */
}
/* 二级标题下的内容 */
.toc-item.toc-level-2>.toc-child{
    overflow: hidden;
    transition: all .2s;
}





.items.ds-ghinfo>.repo{
    background-color: rgb(255 255 255 / 70%);
    backdrop-filter: blur(10px);
}
/* 底部文章切换 */
#read-next{
    margin-top: 20px;
    padding: 0;
}
section.body{
    display: flex !important;
    justify-content: space-between !important;
}
/* 左侧-较新文章 */
.body>#prev{
    padding-right: 20px !important;
}
.body>#prev>.note{
    background-color: rgb(255 255 255 / 70%);
    border-radius: 12px;
    width: fit-content;
    padding: 2px;
}
.body>#prev>a{
    background-color: rgb(255 255 255 / 70%);
    border-radius: 12px;
    width: fit-content;
    padding: 2px;
}
/* 右侧-较早文章 */
.body>#next{
    display: flex;
    flex-direction: column;
    align-items:end;
    padding-left: 20px !important;
}
.body>#next>.note{
    background-color: rgb(255 255 255 / 70%);
    border-radius: 12px;
    padding: 2px;
}
.body>#next>a{
    background-color: rgb(255 255 255 / 70%);
    border-radius: 12px;
    padding: 2px;
}


/* 文章内字数统计&阅读时长 */
/* .bread-nav div#page-words span.sep:before {
    content: '|';
  }
  .bread-nav div#page-words span.updated {
    visibility: hidden;
  }
  .bread-nav:hover div#page-words span.updated {
    visibility: visible;
  } */


/* wiki */
/* wiki大图介绍 */
#recommend{
    font-size: 12px;
    color: #615d5d;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}  
article#archive{
    background-color: rgb(255 255 255 / 70%);
    border-radius: 12px;
}
/* 头像 */
.logo-wrap>.icon>img{
    /* border-radius: 50%; */
}



/* 首页顶部的滚动条线 */
div.navbar.top::after{
    background: none !important;
}


